<footer>
    <div class="f-info"> 
    <div class="f-info-socials"> 
        <a href="https://www.facebook.com/">
    <div><i class="fa-brands fa-square-facebook"></i></div>
  </a>
      
        <a href="https://www.instagram.com/">
    <div><i class="fa-brands fa-instagram"></i></i></div>
  </a>

        <a href="https://www.linkedin.com/jobs?mcid=7404190489949925376&src=go-pa&trk=sem-ga_campid.23341383018_asid._crid._kw._d.c_tid._n.x_mt._geo.9062162&cid=&gclsrc=aw.ds&gad_source=1&gad_campaignid=23341687389&gbraid=0AAAAAogN_LxpcOqr8mLuo3fFGrdukb65u&gclid=Cj0KCQiAr5nKBhCpARIsACa_NiMkg0diL15PPYxYKfPh8GfQUPkv21NhU6UdRKwSXPw2hkUHI3u0S7AaAkf1EALw_wcB">
    <div> <i class="fa-brands fa-linkedin"></i></div>
  </a>
        
       
 </div>
 <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
 <div class="f-info-links">
    <a href="/privacy">privacy</a>&nbsp;
    <a href="/terms">terms</a>
</div>
</footer>