body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1; 
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a {
    text-decoration: none; 
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline; 
}

.f-info-links, 
.f-info-socials, 
.f-info-brand {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
}

.f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem;
      text-decoration: none;
    color:black;
}

.f-info {
    height: 8rem;
    background-color: #ebebeb;
    
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    
    align-items: center; 
    
    justify-content: space-evenly; 
}

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text { 
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.show-img {
    height: 20vh;
}

.btns {
    display: flex;
    gap: 1rem; 
    margin-top: 1rem;
}

/* Styling for the main card container */
.show-card {
    padding-left: 0;
    padding-right: 0;
   
    margin-right: auto;
    border-radius: 1rem;
    overflow: hidden;
}

/* Styling for the image element */

.show-image {
    width: 90%; 
    height: 30vh; 
    object-fit: cover;
}
.add-btn,

.edit-btn.btn-dark {
    background-color: #fe424d !important;
    border: none !important;
    margin-right: 20px;
    width: 10%;
    margin-left: -10px;
}

#map{
    height: 400px;
    width: 80vh;
}